{% extends 'base.html.twig' %}

{% block title %}
    Modifier une catégorie
{% endblock %}

{% block body %}
    <h1>Modifier la catégorie <em>{{ category.name }}</em> </h1>

    <div class="row">
		<div class="col">
			{{ form_start(formView) }}
			{{ form_row(formView.name, {'attr': {'class': 'mb-2' }}) }}
		</div>
	</div>

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Enregistrer la modification
	</button>

	{{ form_end(formView) }}

{% endblock %}
